body {
  background: #daa520;
}
h1 {
  font-family: 'Poiret One', sans-serif;
  font-weight: bolder;
  display: inline-block;
  border-radius: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 0.5rem;
  text-align: center;
  background-color: #e5d6c2;
  font-size: 3rem;
  
}
h2 {
  font-family: 'Poiret One', sans-serif;
  font-weight: bolder;
  background-color: #e5d6c2;
  border-radius: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 8px;
  text-align: center;
  font-size: 2rem;
}
p {
  margin: 0;
}

.modal-content {
  background-color: #363636;
  color: #daa520;   
}

#enterLetter {
  font-size: 2rem;
  background-color: #e5d6c2;
  border-radius: 10px;
  font-family: 'poiret one', sans-serif;
  font-weight: bolder;
  
}
progress {
  width: 50%;
  height: 15px;
  appearance: none;
  background-color: #001f3f;
  border: none;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #4caf50; 
  border-radius: 10px; 
}
progress::-moz-progress-bar {
  background-color: #4caf50; 
  border-radius: 10px;
}
p {
  font-family: 'Lato', sans-serif;
}
#message p {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  background-color: #e5d6c2;
  position: fixed;
  top: 9%;
  left: 10%;
  right:10%;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
  text-align: center;
}
.scoreboard {
  position:fixed;
  top: 2%;
  right: 4%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
#quote {
  font-family: 'Lato', sans-serif;
  position: fixed;
  bottom: 10%;
  left: 10%;
  right: 10%;
  background-color: #e5d6c2;
  border-radius: 10px;
  font-size: 1rem;
}
#noCigar {
  position: fixed;
  bottom: 10%;
  left: 2rem;
  right: 2rem;
  background-color: #e5d6c2;
  border-radius: 10px;
  font-size: 1rem;
}
#playAnotherRound {
  position: fixed;
  bottom: 6%;
}
#quitGame {
  position: fixed;
  top: 2%;
  left: 2%;
}
#wordDisplay {
  font-size: 25px;
  letter-spacing: 0.6rem;
  white-space: pre;
  margin-top: 1rem;
}
.hide {
  display: none;
}
#backButton {
  position: absolute;
  left: 2rem;
  top: 2rem;
}
#philosopher1, #philosopher {
  position: fixed;
  bottom: 0; 
  left: 0;
}

/* ....... small mobiles eg.galaxy fold .......*/
@media only screen and (min-width: 260px) and (max-width: 300px) {
  h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 42px;
    }
  h2 {
    font-size: 1.25rem;
    font-weight: bolder;
    }
  .buttonLevels {
    display:block;
    margin-bottom: 10px;
    }
  .buttonContainerDifficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
  #wordDisplay {
    white-space: pre-wrap;
    word-wrap: break-word; 
    max-width: 100%; 
    overflow-wrap: break-word;
    letter-spacing: 1.5px; 
    max-width: 100%; 
    margin:20px 0 60px 0;  
    padding: 0;
    width: 100%;
    font-size: 16px;
    }
  #enterLetter {
    font-size: 20px;
    }
  #submitLetter {
    margin-top: 24px;
   } 
  #yourProgress {
    margin-top: 24px; 
  }
   #backButton {
    top: 5px;
    left: 5px;
    font-size: 15px;
  }
  #quitGame {
    top: 5px;
    left: 5px;
    font-size: 15px;
  }
  #noCigar {
    margin-bottom: 0;
    font-size: 15px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  #playAnotherRound {
    bottom: 15px; 
    font-size: 15px;
    margin-top: 15px;
  }
  #message p {
    font-size: 15px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  #quote {
    font-size: 15px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    bottom: 75px;
  }
  #intro {
    padding-top: 8px;
  }
  .scoreboard {
    position: fixed;
    top: 1%;
    font-size: 16px;
  }
} 
/* ....... mobile .......*/
@media only screen and (min-width: 301px) and (max-width: 400px) {
  h1 {
    font-size: 2em;
    margin-top:45px;
    }
  #intro {
    margin-top: 20px;
  }  
  h2 {
    font-size: 1.65rem;
  }
  #backButton {
    top: 5px;
    left: 5px;
    font-size: 16px;
  } 
  #wordDisplay {
    white-space: pre-wrap;
    word-wrap: break-word; 
    max-width: 100%; 
    overflow-wrap: break-word;
    letter-spacing: 1.5px; 
    max-width: 100%; 
    margin-top: 70px; 
    margin-bottom: 70px;
    padding: 0;
    width: 100%;
    font-size: 18px;
    }
    .buttonContainerDifficulty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      }
  #enterLetter {
    font-size: 28px;
    margin-bottom: 20px;
    }
  #submitLetter {
    margin-top: 18px;
   } 
  #attemptsLeft {
    margin-bottom: 0;
  } 
   #noCigar {
     margin-bottom: 0;
     font-size: 16px;
     padding: 0.5rem 0.5rem 0.5rem 0.5rem;
   }
   #playAnotherRound {
     bottom: 16px; 
     font-size: 15px;
     margin-top: 25px;
   }
   #message p {
     font-size: 16px;
     padding: 0.5rem 0.5rem 0.5rem 0.5rem;
   }
   #quote {
     font-size: 16px;
     padding: 0.5rem 0.5rem 0.5rem 0.5rem;
     bottom: 100px;
     margin-bottom: 0;
   }
   #quitGame {
    top: 10px;
    left:10px;
    font-size: 16px;
   }
   #gameInstructions {
    margin-top: 15px;
   }
   #intro {
    margin-bottom: 15px;
    margin-top: 15px;
   }
   .buttonLevels {
    margin-top: 12px;
  }
  #philosopher1 {
    margin-top: 50px;
  }
  .buttonContainerDifficulty{
    margin-bottom: 100px;
  }
  }  

/* ...larger mobile devices ...*/
@media only screen and (min-width: 401px) and (max-width: 481px) {
  h1 {
    font-size: 2em;
    margin-top:90px;
    }
  #intro {
    margin-top: 20px;
  }  
  h2 {
    font-size: 1.65rem;
  }
  #backButton {
    top: 5px;
    left: 5px;
    font-size: 16px;
  } 
  #wordDisplay {
    white-space: pre-wrap;
    word-wrap: break-word; 
    max-width: 100%; 
    overflow-wrap: break-word;
    letter-spacing: 1.5px; 
    max-width: 100%; 
    margin-top: 90px;
    margin-bottom: 75px;
    padding: 0;
    width: 100%;
    font-size: 18px;
    }
    .buttonContainerDifficulty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      }
  .buttonLevels {
    margin-top: 20px;
  }   
  #enterLetter {
    font-size: 28px;
    margin-bottom: 30px;
    }
  #submitLetter {
    margin-top: 18px;
   } 
  #attemptsLeft {
    margin-bottom: 0;
  } 
   #noCigar {
     margin-bottom: 0;
     font-size: 16px;
     padding: 0.5rem 0.5rem 0.5rem 0.5rem;
   }
   #playAnotherRound {
     bottom: 16px; 
     font-size: 15px;
     margin-top: 25px;
   }
   #message p {
     font-size: 16px;
     padding: 0.5rem 0.5rem 0.5rem 0.5rem;
   }
   #quote {
     font-size: 16px;
     padding: 0.5rem 0.5rem 0.5rem 0.5rem;
     bottom: 100px;
     margin-bottom: 0;
   }
   #quitGame {
    top: 10px;
    left:10px;
    font-size: 16px;
   }
   #gameInstructions {
    margin-top: 40px;
    margin-bottom: 40px;
   }
   #intro {
    margin-bottom: 40px;
    margin-top: 0px;
   }
}

  
/* ...smaller tablet devices... */
@media only screen and (min-width: 481px) and (max-width: 767px) {
#wordDisplay {
    white-space: pre-wrap;
    word-wrap: break-word; 
    max-width: 100%; 
    overflow-wrap: break-word;
    letter-spacing: 1.5px; 
    max-width: 100%; 
    margin: 0 0 35px 0;  
    padding: 0;
    width: 100%;
    font-size: 24px;
    }
  h1 {
    margin-bottom: 30px;
    margin-top: 40px;
  }  
 #enterLetter  {
  margin-top: 40px;
 } 
 #noCigar {
   bottom: 100px;
   font-size: 18px;
   padding: 16px 16px 16px 16px;
 }
 #message {
  font-size: 18px;
 }
 #quote {
  bottom: 100px;
  font-size: 18px;
  padding: 16px 16px 16px 16px; 
 }
 #backButton {
  top: 5px;
  left: 5px;
  font-size: 16px;
 }
 #gameInstructions {
  margin-bottom: 1rem;
 }
 
}
/* ....... tablet .......*/
@media only screen and (min-width: 768px) {
 #quitGame {
  font-size: 18px;
 }
 #intro {
  margin-bottom: 40px;
 }
 #playAnotherRound {
  bottom: 45px;
  font-size: 18px;
  margin-top: 15px;
 }
 #wordDisplay {
  margin-top: 0px;
  margin-bottom: 60px;
 }
 #backButton {
  top: 5px;
  left: 5px;
  font-size: 16px;
 }
 #noCigar {
  bottom: 110px;
  font-size: 18px;
 }
 #backButton {
  font-size: 18px;
 }
 .buttonContainerDifficulty{
  margin-top: 25px ;
 }
 #quote {
  font-size: 18px;
  bottom: 125px;
 }
 #message p {
  font-size: 18px;
 }
 #gameInstructions {
  position:fixed;
  top: 1rem;
  right: 1rem;
}
h1{
  margin-top: 70px;
  margin-bottom: 29px;
}
}


/*........ desktop .........*/
@media only screen and (min-width: 1024px) {
  #gameInstructions {
    position:fixed;
    top: 1rem;
    right: 1rem;
  }
  .scoreboard  {
    font-size: 18px;
  }
  h1 {
    margin-bottom: 8px;
    font-size: 33px;
    margin-top: 8px;
  }
  h2 {
    font-size: 24px;
  }
  #intro {
    padding-top: 0px;
  }
  #philosopher1 {
    margin-top: 0px;
  }
  }

  

  /*........ larger screens .........*/
@media only screen and (min-width: 1280px) {
  #gameInstructions {
    position:fixed;
    top: 1rem;
    right: 1rem;
}
h1 {
  font-size: 3rem;
  margin-top: 150px;
  margin-bottom: 45px;
}
h2 {
  font-size: 2rem;
}
#intro {
  padding-top: 0px;
  font-size: ;
  margin-top: 8px;
  margin-bottom: 40x;
}
p {
  font-size: 18px;
}
#wordDisplay {
  margin-bottom: 90px;
}

}
